.slider {
-webkit-appearance: none;  
appearance: none;
width: 75%; 
height: 25px; 
background: white; 
outline: none; 
opacity: 0.7; 
-webkit-transition: .2s; 
transition: opacity .2s;
box-shadow: 2px 3px black;
border-radius: 3px;
}

.slider:hover {
opacity: 1; 
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none; 
appearance: none;
width: 45px; 
height: 35px; 
border:3px solid grey;
background: orangered; 
cursor: pointer; 
}

.slider::-moz-range-thumb {
width: 45px; 
height: 25px; 
background: orangered; 
cursor: pointer; 
}

.header {
    color: #0364c5;
    /* border-bottom: 5px solid black; */
    box-shadow: 3px 3px black;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    max-width:88%;
    /* -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95); */
}

.dateBox {
    /* border-radius:3px; */
    /* box-shadow: 2px 2px;  */
    border: 5px solid black;
    background-color: white;
}

html {
    /* zoom: 0.8; Old IE only */
    
}