<div class="row p-3 bg-warning header">
  <div class="col-12 mx-2">
    <h1 class="mx-5"><strong>Avi Helper</strong></h1>
  </div>
</div>
<div class="container">
  <div class="row p-3 justify-content-between">
    <div class="slider-container col-10 p-3">
        <h5 class="p-2 dateBox">Forecast Date: {{selectedDate}}</h5>
        <form class="px-2 dateBox form-inline mx-4 d-inline-block">
          <div class="form-group">
            <label for="">Forecast Location: </label>
            <select class="form-control" name="location" id="">
              <option value="snoqualmie-pass">Snoqualmie Pass</option>
            </select>
          </div>
        </form>
      <input
        type="range"
        [max]="days"
        class="slider"
        height="30px"
        list="tickmarks"
        step="1"
        id ="daySlider"
        [(ngModel)]="selectDay"
        (ngModelChange)="generateProblems()"
      />
    </div>
  </div>
  <app-compass
    class="p-3"
    *ngFor="let type of types"
    [issues]="issues[type]"
    [type]="type"
    (selectIssue) = "receiveIssue($event)"
  ></app-compass>
  <app-table-display 
    *ngIf="selectedIssue" 
    [selectDay] = "selectDay">
  </app-table-display>
</div>

<!-- <router-outlet></router-outlet> -->
